<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3c.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>  
    <link rel="STYLESHEET" type="text/css" href="/css/960.css" title="accesible">
    <link rel="STYLESHEET" type="text/css" href="/css/estilo_propio.css" title="accesible"> 
    <link rel="STYLESHEET" type="text/css" href="/css/estilomenu.css" title="accesible">  
    <title> {{  flatpage.title  }} </title>       
  </head>

  <body>
   {{  flatpage.content  }}
  </body>
</html>


