#DivMenu {
  margin-top: 10px;
  width: 960px;
/*   text-align: center; */
}


a:visited {
  color: white;
}
a {
  font-size: 95%;
  font-weight: 700
  color: white;
  text-decoration: none;
}

ul {
  height: 40px;
  font-size: 95%;
  font-weight: 700;
  margin-right: -2;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  font-size: 95%;
  font-weight: 700;
  padding: 5px;
  border: 1px outset black;
  color: white;
  background-color: #375F85;
  width: 100px;
  position: relative;
  margin: -2px;
  cursor: pointer;
/*   border-radius: 0px 0px 0px 0px; */
box-shadow: 0px 0px 0px #000;
}

#menuHorizontal{
  text-align: center;
}

.submenu{
  position: absolute;
  top: 38px;
  left: 1px;
  display: none; 
  box-shadow: 0px 0.5px 5px #000;
  border-radius: 0px 0px 10px 10px;
}

.submenu>li{
  display: block;
}

#menuHorizontal li:hover ul{
  display: block;
}

#menuHorizontal>li:hover {
  background-color: #abc;
  padding-top: 10px;
  box-shadow: 0px 0px 4px #375F85;
  border-radius: 10px 10px 0px 0px;
  border: 2px outset black;
  color: black;
  text-shadow: 1px 1px 1px #375F85;
  
}

#menuHorizontal>li:first-child{
  background-color: #D0DBE6;
  padding-top: 10px;
  box-shadow: 0px 0px 4px #375F85;
  border-radius: 10px 10px 0px 0px;
  border: 1px outset #D0DBE6;
  color: black;
  text-shadow: 1px 1px 1px #375F85; 
}

.submenu li:last-child{
  border-radius: 0px 0px 10px 10px;
}

